[Unit]
Description=start RedTeam windows_weaponize http server
After=network.target

[Service]
Type=simple
RemainAfterExit=yes
Restart=on-failure
ExecStart=python3 -m http.server 8882 --bind 127.0.0.1 --directory /opt/windows/windows_weaponize
WorkingDirectory=/opt/windows/windows_weaponize
User=http

[Install]
WantedBy=multi-user.target

