---
haproxy_certs:
  - name: haproxy
    bundle_path: /etc/haproxy/bundle
    bundle_name: bundle.pem
    cert_name: haproxy.pem
    cert_path: /etc/haproxy/cert
    key_name: haproxy.key
    key_path: /etc/haproxy/private
    cn: haproxy
    san:
      - ""
      - ""

haproxy_socket: /var/lib/haproxy/stats
haproxy_chroot: /var/lib/haproxy
#haproxy_unit_mount_name: var-lib-haproxy-dev-log.mount
haproxy_user: haproxy
haproxy_group: haproxy
haproxy_global_params: []
# Default haproxy timeouts
haproxy_connect_timeout: 5s
haproxy_client_timeout: 50s
haproxy_server_timeout: 50s
haproxy_tunnel_timeout: 1h

#########################################
# Frontend settings.
haproxy_frontends:
  - name: jubeaz
    binds:
      - addr: "*"
        port: 80
#      - addr: 10.10.14.17
#        port: 880
#      - addr: 192.168.10.21
#        port: 880
    firewall_allow: 
      - any
    mode: tcp
    options:
      - name: log
        value: global
      - name: log-format
        value: '"src=%ci:%cp fe=%f be=%b srv=%s bytes=%B"'
      - name: tcp-request
        value: inspect-delay 2s
      - name: tcp-request
        value: content accept if { req_len gt 0 }
    acl: {
#      is_http: 'req.payload(0,4) -m str "HTTP"',
      is_http: req.proto_http,
      from_10net: "src 10.0.0.0/8",
      from_192net: "src 192.168.0.0/16"
    }
    extra_params: {
      default_backend: "backend_tcp_reject"
    }
    use_backends:
      - 'nginx_backend if is_http'
      - "penelope_backend if !is_http from_10net"
      - "penelope_backend if !is_http from_192net"

# Backend settings.
haproxy_backends:
  - name: nginx_backend
    mode: tcp
    options: []
    servers: {
      nginx1: "127.0.0.1:8880"
    }
    extra_params: {
#      u: "value",
#      v: "value"
    }
  - name: penelope_backend
    mode: tcp
    servers: {
      penelope: "127.0.0.1:4444"
    }
    options: 
      - name: timeout
        value: tunnel 12h
    extra_params: {
    }
  - name: backend_tcp_reject
    mode: tcp
    extra_params: {
#      errorfile: "503 /etc/haproxy/errors/503.http"
    }
    options: []
    servers: {
    }
#  - name: backend_http_reject
#    mode: tcp
#    extra_params: {
##      errorfile: "503 /etc/haproxy/errors/503.http"
#    }
#    option: {
#    }
#    servers: {
#    }
