{{ ansible_managed | comment }}
[Unit]
Description=Libvirt proxy local read-only socket
Before=virtproxyd.service
BindsTo=virtproxyd.socket
After=virtproxyd.socket
Conflicts=libvirtd.socket libvirtd-ro.socket libvirtd-admin.socket libvirtd-tcp.socket libvirtd-tls.socket

[Socket]
# The directory must match the /etc/libvirt/virtproxyd.conf unix_sock_dir setting
# when using systemd version < 227
ListenStream={{ _libvirt_socket_dir }}/libvirt-sock-ro
{% if virtproxyd_cfg.usocket.ro_perms is defined %}
SocketMode={{ virtproxyd_cfg.usocket.ro_perms }}
{% else %}
SocketMode=0666
{% endif %}
{% if virtproxyd_cfg.usocket.group is defined %}
SocketGroup={{ virtproxyd_cfg.usocket.group }}
{% else %}
SocketGroup=root
{% endif %}
Service=virtproxyd.service

[Install]
WantedBy=sockets.target
