
key "cluster-key" {
	algorithm {{ _rndc_confgen_algo }};
	secret "{{ __rndc_cluster_key[0] }}";
};

key "local-key" {
        algorithm {{ _rndc_confgen_algo }};
        secret "{{ __rndc_local_key[0] }}";
};
