
- name: SETUP OPENSSL FOR LEGACY
  ansible.builtin.include_tasks: tasks/openssl_legacy.yml
- name: SETUP REDTEAM HTTP SERVER
  ansible.builtin.include_tasks: tasks/redteam_http.yml

- name: COPY LDAP.CONF
  ansible.builtin.copy:
    src: "{{ file_transfer_base_path }}/etc/openldap/ldap.conf"
    dest: /etc/openldap/ldap.conf
    owner: root
    group: root
    mode: '0644'
    backup: true

- name: COPY KRB5.CONF
  ansible.builtin.copy:
    src: "{{ file_transfer_base_path }}/etc/krb5.conf"
    dest: /etc/krb5.conf
    owner: root
    group: jubeaz
    mode: '0664'
    backup: true

- name: COPY HOSTS
  ansible.builtin.copy:
    src: "{{ file_transfer_base_path }}/etc/hosts"
    dest: /etc/hosts
    owner: root
    group: root
    mode: '0644'
    backup: true

- name: COPY RESOLV.CONF
  ansible.builtin.copy:
    src: "{{ file_transfer_base_path }}/etc/resolv.conf"
    dest: /etc/resolv.conf
    owner: root
    group: root
    mode: '0644'
    backup: true


- name: BACKUP proxychains.conf
  ansible.builtin.copy:
    src: /etc/proxychains.conf
    dest: /etc/proxychains.conf.save
    remote_src: true
    owner: root
    group: root
    mode: '0644'

- name: DELETE proxychains.conf
  ansible.builtin.file:
    path: /etc/proxychains.conf
    state: absent