- name: Activate modules
  ansible.builtin.lineinfile:
    path: /etc/httpd/conf/httpd.conf
    regexp: "^#(LoadModule {{ item }}.*)"
    line: '\1'
    backrefs: true
  with_items:
    - rewrite_module
    - proxy_module
    - proxy_http_module
- name: Activate apache setting override
  ansible.builtin.replace:
    path: /etc/httpd/conf/httpd.conf
    regexp: '^\s*AllowOverride\s+None'
    replace: '    AllowOverride All'
- name: Add jubeaz to groups
  ansible.builtin.user:
    name: jubeaz
    groups: "{{ item }}"
    append: true
  with_items:
    - http
- name: Rsync http content
  ansible.posix.synchronize:
    src: "{{ file_transfer_base_path }}/srv/http/"
    dest: /srv/http/
    archive: true

- name: Assert http directory is 755
  ansible.builtin.file:
    path: /srv/http
    owner: jubeaz
    group: jubeaz
    mode: '0755'
    state: directory

- name: Assert http upload directory exist
  ansible.builtin.file:
    path: /srv/http/upload/lib
    owner: jubeaz
    group: jubeaz
    mode: '0755'
    state: directory
    recurse: true

- name: Copy services
  ansible.builtin.copy:
    src: "{{ file_transfer_base_path }}/etc/systemd/system/{{ item }}"
    dest: "/etc/systemd/system/{{ item }}"
    owner: root
    group: root
    mode: '0644'
    backup: true
  with_items:
    - rt_http-lin.service
    - rt_http-sharp.service
    - rt_http-win.service
    - rt_http-upload.service

- name: Start services
  ansible.builtin.service:
    name: "{{ item }}"
    state: started
    enabled: true
  with_items:
    - rt_http-lin.service
    - rt_http-sharp.service
    - rt_http-win.service
    - rt_http-upload.service
    - httpd.service
