- name: Check if sliver systemd service file exists
  ansible.builtin.stat:
    path: /etc/systemd/system/sliver.service
  register: sliver_service_stat

- name: Download Sliver install script
  ansible.builtin.get_url:
    url: https://sliver.sh/install
    dest: /tmp/install
    mode: '0755'
  when: not sliver_service_stat.stat.exists

- name: Run Sliver install script
  ansible.builtin.command: /tmp/install
  register: sliver_install
  changed_when: my_output.rc != 0
  when: not sliver_service_stat.stat.exists

- name: Ensure sliver service is running
  ansible.builtin.service:
    name: sliver
    state: started
    enabled: true

#- name: Ensure MinGW-w64 packages are installed
#  community.general.pacman:
#    name:
#      - mingw-w64-gcc
#      - mingw-w64-binutils
#      - mingw-w64-headers
#      - mingw-w64-crt
#      - mingw-w64-winpthreads
#    state: present
#
##- name: Clone Sliver Git repository
##  community.general.git:
##    repo: 'https://github.com/BishopFox/sliver.git'
##    dest: '/root/sliver'
##    force: true
##
##- name: Compile Sliver using make
##  ansible.builtin.command: make
##  args:
##    chdir: /root/sliver
#
#- name: Copy sliver.sh
#  ansible.builtin.copy:
#    src: "{{ file_transfer_base_path }}/root/sliver.sh"
#    dest: /root/sliver.sh
#    owner: root
#    group: root
#    mode: '0744'
#    backup: true
