{{ ansible_managed | comment }}
[Unit]
Description=Virtual machine log manager socket
Before=libvirtd.service
BindsTo=virtlogd.socket
After=virtlogd.socket

[Socket]
ListenStream={{ _libvirt_socket_dir }}/virtlogd-admin-sock
{% if virtlogd_cfg.usocket.admin_perms is defined %}
SocketMode={{ virtlogd_cfg.usocket.admin_perms }}
{% else %}
SocketMode=0600
{% endif %}
{% if virtlogd_cfg.usocket.group is defined %}
SocketGroup={{ virtlogd_cfg.usocket.group }}
{% else %}
SocketGroup=root
{% endif %}
Service=virtlogd.service

[Install]
WantedBy=sockets.target
