{{ ansible_managed | comment }}

{% set template = ca_templates_params[ca_templates.identity] %}

[ req ]
default_keyfile         =
encrypt_key             = yes

default_bits            = {{ template.default_bits }}
default_md              = {{ template.default_md }}
utf8                    = yes
string_mask             = utf8only
prompt                  = yes
distinguished_name      = req_dn
req_extensions          = req_reqext

[ req_dn ]
commonName              = "6. Common Name              (eg, full name)"
commonName_max          = 64
emailAddress            = "7. Email Address            (eg, name@fqdn)"
emailAddress_max        = 40

[ req_reqext ]
subjectAltName          = email:move
