---
- name: Install penbox
  gather_facts: true
  hosts: penbox
  become: true
  become_user: root
  tasks:
    - name: SETUP RUNTIME KERNEL PARAM OVERRIDE
      ansible.builtin.copy:
        src: "{{ file_transfer_base_path }}/etc/sysctl.d/99-sysctl.conf"
        dest: /etc/sysctl.d/99-sysctl.conf
        owner: root
        group: root
        mode: '0644'
        backup: true
    - name: SETUP PLOCATE
      ansible.builtin.include_role:
        name: "plocate"
    - name: SETUP PACMAN
      ansible.builtin.include_role:
        name: "pacman"
    - name: SETUP REFLECTOR
      ansible.builtin.include_role:
        name: "reflector"
    - name: PACMAN UPGRADE
      ansible.builtin.include_role:
        name: "pacman_upgrade"
    - name: GEN LOCALE
      ansible.builtin.include_role:
        name: "gen-locale"
    - name: TIME SYNC
      ansible.builtin.include_role:
        name: "time-sync"
    - name: SETUP GRUB
      ansible.builtin.include_role:
        name: "grub"
    - name: SETUP OPENSSHD
      ansible.builtin.include_role:
        name: "opensshd"
    - name: SETUP UFW
      ansible.builtin.include_role:
        name: "ufw"
#    - name: SETUP HAPROXY
#      ansible.builtin.include_role:
#        name: "haproxy"

    - name: Set hostname in /etc/hostname
      ansible.builtin.copy:
        dest: /etc/hostname
        content: "{{ shortname }}"
        owner: root
        group: root
        mode: '0644'

    - name: Disable root account (lock password)
      ansible.builtin.user:
        name: root
        password: "!"
        state: present

    - name: SETUP NFS
      ansible.builtin.include_role:
        name: "nfs"
    - name: SETUP BLACKARCH
      ansible.builtin.include_role:
        name: "blackarch"
    - name: SETUP LXDE
      ansible.builtin.include_role:
        name: "lxde"
    - name: SETUP XRDP
      ansible.builtin.include_role:
        name: "xrdp"
    - name: SETUP DOCKER
      ansible.builtin.include_role:
        name: "docker"
    - name: INSTALL PACKAGES
      ansible.builtin.include_tasks: tasks/install_pkgs.yml
    - name: INSTALL SLIVER
      ansible.builtin.include_tasks: tasks/sliver.yml
    - name: SETUP WIFI AP
      ansible.builtin.include_role:
        name: "wifi_ap"

#    - name: STOP
#      ansible.builtin.fail:
#        msg: STOP

    - name: SETUP /ETC
      ansible.builtin.include_tasks: tasks/etc_conf.yml
 
    - name: RESPONDER SET CHALLANGE 1122334455667788
      ansible.builtin.lineinfile:
        path: /usr/share/responder/Responder.conf
        regexp: '^Challenge = Random$'
        line: Challenge = 1122334455667788

    - name: INSTALL EVIL-WINRM
      become: false
      ansible.builtin.shell: |
        gem install winrm winrm-fs stringio logger fileutil csv evil-winrm

    - name: CREATE EVIL-WINRM FOLDERS
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        mode: '0750'
        recurse: true
        owner: jubeaz
        group: jubeaz
      with_items:
        - /opt/evil-winrm/ps
        - /opt/evil-winrm/bin
        - /opt/evil-winrm/exchange

    - name: INSTALL jiq
      become: false
      ansible.builtin.shell: |
        go install github.com/fiatjaf/jiq/cmd/jiq@latest

    - name: INSTALL EGET
      become: false
      ansible.builtin.shell: |
        go install github.com/zyedidia/eget@latest

    - name: SETUP JUBEAZ
      ansible.builtin.include_tasks: tasks/jubeaz.yml

    - name: SETUP WEAPONIZE
      ansible.builtin.include_tasks: tasks/weaponize.yml

    - name: SETUP AUDIO
      ansible.builtin.include_tasks: tasks/audio.yml
    
    - name: SETUP RTUNNEL ACCOUNT
      ansible.builtin.include_tasks: tasks/rtunnel.yml
    
    - name: Clear pacman cache completely
      command: pacman -Scc --noconfirm


##########################################
## TO DEBUG
##########################################
##
##    - name: UPDATE SEARCHSPLOIT
##      ansible.builtin.shell: |
##        searchsploit -u
##
##
##    - name: Clone Pretender repository
##      ansible.builtin.git:
##        repo: "https://github.com/RedTeamPentesting/pretender"
##        dest: "/opt/pretender"
##        version: "main"
##        update: true
##    - name: Build Pretender
##      ansible.builtin.shell: |
##        export GOPATH={{ go_path }}
##        cd {{ install_dir }}
##        go build -o pretender
##      args:
##        executable: /bin/bash
##
##    - name: Link Pretender binary to /usr/local/bin
##      file:
##        src: "{{ install_dir }}/pretender"
##        dest: "/usr/local/bin/pretender"
##        state: link
