---
- name: Install penbox
  gather_facts: true
  hosts: penbox
  become: true
  become_user: root
  tasks:
    - name: SETUP RUNTIME KERNEL PARAM OVERRIDE
      ansible.builtin.copy:
        src: "{{ file_transfer_base_path }}/etc/sysctl.d/99-sysctl.conf"
        dest: /etc/sysctl.d/99-sysctl.conf
        owner: root
        group: root
        mode: '0644'
        backup: true
    - name: SETUP PLOCATE
      ansible.builtin.include_role:
        name: "plocate"
    - name: SETUP PACMAN
      ansible.builtin.include_role:
        name: "pacman"
    - name: SETUP REFLECTOR
      ansible.builtin.include_role:
        name: "reflector"
    - name: PACMAN UPGRADE
      ansible.builtin.include_role:
        name: "pacman_upgrade"
    - name: GEN LOCALE
      ansible.builtin.include_role:
        name: "gen-locale"
    - name: TIME SYNC
      ansible.builtin.include_role:
        name: "time-sync"
    - name: SETUP GRUB
      ansible.builtin.include_role:
        name: "grub"
    - name: SETUP OPENSSHD
      ansible.builtin.include_role:
        name: "opensshd"
    - name: SETUP UFW
      ansible.builtin.include_role:
        name: "ufw"
#    - name: SETUP HAPROXY
#      ansible.builtin.include_role:
#        name: "haproxy"

    - name: Set hostname in /etc/hostname
      ansible.builtin.copy:
        dest: /etc/hostname
        content: "{{ shortname }}"
        owner: root
        group: root
        mode: '0644'

    - name: Disable root account (lock password)
      ansible.builtin.user:
        name: root
        password: "!"
        state: present

    - name: SETUP NFS
      ansible.builtin.include_role:
        name: "nfs"
    - name: SETUP BLACKARCH
      ansible.builtin.include_role:
        name: "blackarch"
    - name: SETUP LXDE
      ansible.builtin.include_role:
        name: "lxde"
    - name: SETUP XRDP
      ansible.builtin.include_role:
        name: "xrdp"
    - name: SETUP DOCKER
      ansible.builtin.include_role:
        name: "docker"
    - name: INSTALL PACKAGES
      ansible.builtin.include_tasks: tasks/install_pkgs.yml
    - name: INSTALL SLIVER
      ansible.builtin.include_tasks: tasks/sliver.yml

#    - name: STOP
#      ansible.builtin.fail:
#        msg: STOP
    - name: SETUP WIFI AP
      ansible.builtin.include_role:
        name: "wifi_ap"

    - name: SETUP OPENSSL FOR LEGACY
      ansible.builtin.include_tasks: tasks/openssl_legacy.yml
    - name: SETUP REDTEAM HTTP SERVER
      ansible.builtin.include_tasks: tasks/redteam_http.yml

    - name: COPY LDAP.CONF
      ansible.builtin.copy:
        src: "{{ file_transfer_base_path }}/etc/openldap/ldap.conf"
        dest: /etc/openldap/ldap.conf
        owner: root
        group: root
        mode: '0644'
        backup: true

    - name: COPY KRB5.CONF
      ansible.builtin.copy:
        src: "{{ file_transfer_base_path }}/etc/krb5.conf"
        dest: /etc/krb5.conf
        owner: root
        group: jubeaz
        mode: '0664'
        backup: true

    - name: COPY HOSTS
      ansible.builtin.copy:
        src: "{{ file_transfer_base_path }}/etc/hosts"
        dest: /etc/hosts
        owner: root
        group: root
        mode: '0644'
        backup: true

    - name: COPY RESOLV.CONF
      ansible.builtin.copy:
        src: "{{ file_transfer_base_path }}/etc/resolv.conf"
        dest: /etc/resolv.conf
        owner: root
        group: root
        mode: '0644'
        backup: true

    - name: RESPONDER SET CHALLANGE 1122334455667788
      ansible.builtin.lineinfile:
        path: /usr/share/responder/Responder.conf
        regexp: '^Challenge = Random$'
        line: Challenge = 1122334455667788

    - name: INSTALL EVIL-WINRM
      become: false
      ansible.builtin.shell: |
        gem install winrm winrm-fs stringio logger fileutil csv evil-winrm

    - name: CREATE EVIL-WINRM FOLDERS
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        mode: '0750'
        recurse: true
        owner: jubeaz
        group: jubeaz
      with_items:
        - /opt/evil-winrm/ps
        - /opt/evil-winrm/bin
        - /opt/evil-winrm/exchange

    - name: INSTALL EGET
      become: false
      ansible.builtin.shell: |
        go install github.com/zyedidia/eget@latest

    - name: RSYNC JUBEAZ CONTENT
      become: false
      ansible.posix.synchronize:
        src: "{{ file_transfer_base_path }}/home/jubeaz/"
        dest: /home/jubeaz/
        archive: true

    - name: RSYNC JUBEAZ PRIVATE CONTENT
      become: false
      ansible.posix.synchronize:
        src: "{{ private_file_transfer_base_path }}/home/jubeaz/"
        dest: /home/jubeaz/
        archive: true

    - name: MAKE JUBEAZ OWNER OF /OPT/LINUX
      ansible.builtin.shell: |
        chown -R "{{ lookup('env', 'USER') }}:{{ lookup('env', 'USER') }}" /opt/linux

    - name: MAKE JUBEAZ OWNER OF /OPT/WINDOWS
      ansible.builtin.shell: |
        chown -R "{{ lookup('env', 'USER') }}:{{ lookup('env', 'USER') }}"  /opt/windows

    - name: INSTALL WINDOWS_WEAPONIZE
      become: false
      ansible.builtin.shell:
        cmd: /opt/windows/windows_weaponize/script.sh
        chdir: /opt/windows/windows_weaponize/
      environment:
        GITHUB_TOKEN_PATH: "{{ lookup('env', 'HOME') }}/eget_github_token"
        PATH: "{{ ansible_facts.env.PATH }}:{{ lookup('env', 'HOME') }}/go/bin"

    - name: INSTALL LINUX_WEAPONIZE
      become: false
      ansible.builtin.shell:
        cmd:  /opt/linux/linux_weaponize/script.sh
        chdir: /opt/linux/linux_weaponize/
      environment:
        GITHUB_TOKEN_PATH: "{{ lookup('env', 'HOME') }}/eget_github_token"
        PATH: "{{ ansible_facts.env.PATH }}:{{ lookup('env', 'HOME') }}/go/bin"

#    - name: INSTALL INTEL OPENCL RUNTINE
#      become: false
#      community.general.aur:
#        name: intel-opencl-runtime
#        use: yay
#        state: present
#
#    - name: INSTALL INTEL OPENCL
#      community.general.pacman:
#        name: opencl-clhpp ocl-icd opencl-headers
#        state: present

    - name: INSTALL SOME WORDLISTS
      ansible.builtin.shell:
        cmd:  /usr/bin/wordlistctl fetch -l rockyou --decompress   only_rockyou

    - name: INSTALL TMUX PLUGINS
      become: false
      ansible.builtin.shell: /home/jubeaz/.config/tmux/plugins/tpm/scripts/install_plugins.sh

    - name: Clear pacman cache completely
      command: pacman -Scc --noconfirm

    - name: ENSURE .ssh DIRECTORY EXISTS
      ansible.builtin.file:
        path: /home/ansible/.ssh
        state: directory
        owner: jubeaz
        group: jubeaz
        mode: '0700'

    - name: GENERATE SSH KEY PAIR
      community.crypto.openssh_keypair:
        path: /home/jubeaz/.ssh/id_pentest
        backend: cryptography
        private_key_format: ssh
        type: ed25519
        owner: jubeaz
        group: jubeaz
        mode: '0600'
        comment: "jubeaz@pentest"

    - name: BACKUP proxychains.conf
      ansible.builtin.copy:
        src: /etc/proxychains.conf
        dest: /etc/proxychains.conf.save
        remote_src: true
        owner: root
        group: root
        mode: '0644'

    - name: DELETE proxychains.conf
      ansible.builtin.file:
        path: /etc/proxychains.conf
        state: absent

    - name: Create rtunnel group
      ansible.builtin.group:
        name: rtunnel
        state: present

    - name: Add the user rtunnel
      ansible.builtin.user:
        name: rtunnel
        comment: ssh to start a socks proxy (ssh -R 4444 -vN rtunnel@penbox)
        group: rtunnel
        create_home: true
        shell: /bin/bash
        password_lock: false
        password: "{{ 'Zaebuj12345+-' | password_hash('sha512', 'jubeazSalt') }}"
    - name: Change file ownership, group and permissions
      ansible.builtin.file:
        path: /home/rtunnel
        owner: root
        group: root
        mode: '0755'
        state: directory
##########################################
## TO DEBUG
##########################################
##
##    - name: UPDATE SEARCHSPLOIT
##      ansible.builtin.shell: |
##        searchsploit -u
##
##
##    - name: Clone Pretender repository
##      ansible.builtin.git:
##        repo: "https://github.com/RedTeamPentesting/pretender"
##        dest: "/opt/pretender"
##        version: "main"
##        update: true
##    - name: Build Pretender
##      ansible.builtin.shell: |
##        export GOPATH={{ go_path }}
##        cd {{ install_dir }}
##        go build -o pretender
##      args:
##        executable: /bin/bash
##
##    - name: Link Pretender binary to /usr/local/bin
##      file:
##        src: "{{ install_dir }}/pretender"
##        dest: "/usr/local/bin/pretender"
##        state: link
