---
- name: Install penbox
  gather_facts: true
  hosts: penbox
  become: true
  become_user: root
  tasks:

    - name: Add jubeaz to wireshark
      ansible.builtin.user:
        name: jubeaz
        groups: wireshark
        append: true