---
- name: Install penbox
  gather_facts: true
  hosts: penbox
  become: true
  become_user: root
  tasks:

    - name: SETUP REDTEAM HTTP SERVER
      ansible.builtin.include_tasks: tasks/redteam_http.yml
