{{ ansible_managed | comment(decoration="// ") }}

include "{{ _named_conf_dir }}/rndc.key" ;

controls {
    inet * port {{ _rndc_port }} 
        allow { {{ rndc_cluster | join("; ") }};} keys { "cluster-key" ;} ;
    inet 127.0.0.1 port {{ _rndc_port }} 
        allow { 127.0.0.1 ;} keys { "local-key" ;} ;
};
