[Unit]
Description=rclone_backup

[Service]
Type=oneshot
ExecStart= /usr/bin/rclone-backup.sh -d {{ item.db_path }} -k {{ item.key_path }} -l {{ item.local_dir }} -c {{ item.cloud }} -- {{ item.paths | join(' ') }}
