{{ ansible_managed | comment }}
[Unit]
Description=Libvirt non-TLS IP socket
Before=libvirtd.service
BindsTo=libvirtd.socket
After=libvirtd.socket


[Socket]
# This must match the /etc/libvirt/libvirtd.conf tcp_port setting
# when using systemd version < 227
{% if libvirtd_cfg.network.tcp_listen_stream is defined %}
ListenStream={{ libvirtd_cfg.network.tcp_listen_stream }}
{% else %}
ListenStream=16509
{% endif %}

Service=libvirtd.service

[Install]
WantedBy=sockets.target
